.jobcard {
	background-color: rgb(255, 255, 255);
	margin: 10px;
	padding: 20px;
	/* border-radius: 20px; */
}

.logo {
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.438));
}

.category {
	margin: 5px;
}

.bigcard {
	max-width: 800px;
	/* border-radius: 30px; */
	background-color: white;
	padding: 20px;
	/* border: 1px solid rgba(53, 53, 53, 0.225); */
}

.card-right {
	padding: 0 30px;
}

.money {
	color: rgb(44, 196, 44);
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 1px;
}

.companyPic {
	margin: 20px;
}

.benefits {
	margin-right: 5px;
	background-color: rgb(255, 106, 143);
	color: white;
}

.tags {
	margin-right: 5px;
	background-color: rgb(20, 197, 220);
	color: white;
}

.description {
	border: 1px dashed rgba(0, 0, 0, 0.342);
	padding: 10px;
	margin: 5px;
	background-color: rgba(253, 218, 130, 0.171);
	/* border-radius: 15px; */
}

form {
	background-color: white;
	padding: 20px;
	min-width: 300px;
	min-height: 300px;
}

.login-bg {
	background-color: rgb(12, 118, 122);
	height: 100vh;
	width: 100vw;
}

.App {
	background-color: rgb(12, 118, 122);
	height: 100%;
	height: 100vh;
	width: 100vw;
}

.four04 {
	color: white;
	text-align: center;
}
